<% provide(:title, 'Контакты') %>
<h1>Общество с ограниченной ответственностью «Строительная компания «РусЭМ» (ООО «СК «РусЭМ»)</h1>
<h2>Телефон/факс:

(3812) 40-69-59
</h2>
<h2>
Е-mail:

sk-rusm@yandex.ru</h2>

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ctHjS233XpomoXRC5DomqT2PIhoYWYNH&width=1280&height=659&lang=ru_RU&sourceType=constructor&scroll=true"></script>